---
import Layout from '../layouts/Layout.astro';
import CrewSlider from '../components/CrewSlider.vue';

import json from '../assets/data.json';
---

<Layout title="Space Tourism - Crew">
	<section>
		<h2><span aria-hidden="true">02</span>Meet Your Crew</h2>
		<CrewSlider client:load json={ json.crew } />
	</section>
</Layout>

<style lang="scss">
	@import "../styles/global.scss";

	body {
		background-image: url("/assets/crew/background-crew-desktop.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		@media (min-width: 35rem) and (max-width: 60rem) {
			background-image: url("/assets/crew/background-crew-tablet.jpg");
		}

		@media (max-width: 35rem) {
			background-image: url("/assets/crew/background-crew-mobile.jpg");
		}
	}

	section {
		margin-block-start: 5rem;
		margin-block-end: 3rem;

		@media (max-width: 60rem) {
			margin-block-start: 2rem;
			margin-block-end: 0;
		}

		@media (max-width: 35rem) {
			margin-block-start: 1rem;
		}
	}

	h2 {
		@include heading-5;

		span[aria-hidden="true"] {
			opacity: 0.4;
			margin-inline-end: 0.75em;
		}

		@media (max-width: 35rem) {
			font-size: 16px;
		}
	}
</style>
